<div class="slideshow">
  <div class="overlay"></div>
  <img src="{{asset('image/home/banner/cooking-m.jpg')}}" class="slide" alt="Image 1">
  <img src="{{asset('image/home/banner/cooking-pot-m.jpg')}}" class="slide" alt="Image 2">
  <img src="{{asset('image/home/banner/food-hero-m.jpg')}}" class="slide" alt="Image 3">
  <img src="{{asset('image/home/banner/pizza-m.jpg')}}" class="slide" alt="Image 4">
  
  <div class="text-overlay">
    <h1 class="mb-4">Bienvenue à La Fourchette Victorieuse</h1>
    <a href="{{path('app_static_about')}}" class="button">Nous découvrir</a>
  </div>
</div>