<div class="row">
    {% for dessert in desserts %}
    <div class="grid-item col-lg-4 mt-4 col-md-6 col-sm-12 col-xs-12">
        <a href="" class="dish-link">
            <img src="{{ asset('image/uploads/') }}{{dessert.image}}" alt="{{dessert.name}}">
            <h2 class="text-center dish-title">{{ dessert.name }}</h2>
            <span class="text-center">€{{ dessert.price }}</span>
        </a>
    </div>
    {% endfor %}
    <a href="{{path('app_category', {slug: 'dessert'})}}">+ de désserts</a>
</div>