{% extends 'base.html.twig' %}

{% block title %}Détails Commande N°{{ order.id }}
	- La Fourchette Victorieuse
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/account/order/details.css') }}">
{% endblock %}
{% block body %}
	<section id="details">
		<div class="container">
			<h1>Espace Membre</h1>
			<div class="row">
				<div class="col-lg-3 col-md-4">
					{% include './account/__menu.html.twig' %}
				</div>
				<div class="col-lg-9 col-md-8">
					<h5>Détails commande N°{{ order.id }}</h5>
					{{ include('admin/state.html.twig', {field : { 'value' : order.state  }}) }}
					<br>
					<hr>
					<span>
						<strong>Passée le :</strong>
						{{ order.createdAt|date('d/m/Y') }}</span><br>

					<div class="row">
						<div class="col-md-6">
							<strong>Adresse de livraison :</strong><br>
							{{ order.delivery|raw }}
						</div>
						<div class="col-md-6">
							<strong>Transporteur :</strong><br>
							{{ order.carrierName }}
						</div>
					</div>
					<br>
					<hr>
					<strong>Contenu de la commande :
					</strong><br>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Image :</th>
								<th scope="col">Nom du produit :</th>
								<th scope="col">Quantité :</th>
								<th scope="col">Prix unitaire H.T :</th>
								<th scope="col">TVA :</th>
								<th scope="col">Total T.T.C :</th>
							</tr>
						</thead>
						<tbody>
							{% for dish in order.fVOrderDetails %}
								<tr>
									<td>
										<img width="100px" height="100px" src="/image/uploads/{{ dish.dishImage }}" alt="{{ dish.dishName }}">
									</td>
									<td>{{ dish.dishName }}</td>
									<td>{{ dish.dishQuantity }}</td>
									<td>{{ dish.dishPrice|price }}</td>
									<td>{{ dish.dishTva }}%</td>
									{% set coeff = 1 + (dish.dishTva / 100) %}
									<td>{{ ((dish.dishPrice * coeff) * dish.dishQuantity)|price }}</td>
								</tr>
							{% endfor %}

							<tr>
								<td></td>
								<td>{{ order.carrierName }}</td>
								<td>1</td>
								<td></td>
								<td></td>
								<td>{{ order.carrierPrice|price }}</td>
							</tr>
						</tbody>
					</table>

					<div>
						<strong class="fs-5">Total H.T :
							{{ (order.totalWt - order.totalTva)|price }}</strong><br>
						<strong class="fs-5">Total TVA :
							{{ order.totalTva|price }}</strong><br>
						<strong class="fs-5">Total T.T.C :
							{{ order.totalWt|price }}</strong>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
