{% extends 'base.html.twig' %}

{% block title %}{{ dish.name }} - La Fourchette Victorieuse{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/category/dish-details.css')}}">
{% endblock %}

{% block body %}
<section id="dish-details">
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
            {{ message }}
            </div>
            {% endfor %}
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center">
                <img class="dish-photo" src="{{ asset('image/uploads/') }}{{dish.image}}" alt="{{dish.name}}">
            </div>
            <div class="col-lg-6 description-container">
                <p>
                <a href="{{path('app_dish_all')}}">retour a la carte générale </a>
                >
                <a href="{{path('app_dish_category', {'slug': dish.category.slug})}}">retour a la carte {{ dish.category }}</a>
                </p>
                <h1>{{ dish.name }}</h1>
                <p class="price">{{ dish.priceWt|price }} TTC</p>
                <p>{{ dish.description|raw }}</p>
                <form action="{{path('app_cart_add', {'id' : dish.id})}}" method="post" class="d-flex flex-column">
                    <label for="qty">Quantité :</label>
                    <input type="number" id="qty" name="qty" value="1" min="1" max="50" required >
                    <button type="submit" class="btn btn-success w-100 mt-3">Ajouter au panier</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}